*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: whitesmoke;
    margin: 0;
}
nav{
    height: 3rem;
    width: 100%;
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3{
    font-size: 1.2rem;
    margin-left: 10rem;
}
ul{
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
    padding: 1rem;
    list-style: none;
}
ul li{
    text-decoration: none;
    margin: 1rem 2rem;
    justify-content: center;
    align-items: center;
}